.searchContainer {
    padding: 1.5625rem;
    margin: auto;
    position: absolute;
}

.searchContainer h4 {
    color: black;
}

.foodCard {
    height: fit-content;
}

.foodCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.foodImage {
    height: 1.875rem;
}

.foodCardIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.foodCardContainer {
    max-height: 300px;
    width: 15.625rem;
    overflow: auto;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.modalImage {
    height: 2.5rem;
}

.nutritionTable {
    height: 32.8125rem;
}