.addFoodLog {
    position: relative;

}

.layoutContent {
    overflow: auto;
    background-color: var(--dark-one, white) !important;
}

.percent {
    position: relative;
    left: 10px;
}

.calorieContainer {
    box-shadow: 0 4px 8px 0 black;
    border: 2px solid white;
    display: flex;
    width: 100%;
    background-color: var(--dark-one, white) !important;
    padding: 10px;
    justify-content: center;
    
}

.calorieContainer h3 {
    color: var(--dark-two, black) !important;
    font-size: 1vw;
}

.macros {
    display: flex;
    border: 2px solid white;
    justify-content: space-evenly;
    width: min-content;
    background-color: var(--dark-one, white) !important;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 black;
}
.macros h3 {
    color: var(--dark-two, black) !important;
    height: fit-content;
}
.dailyValue {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    justify-self: center;
    border: 2px solid white;
    background-color: var(--dark-one, white) !important;
    box-shadow: 0 4px 8px 0 black;
    margin-top: 10px !important;
    margin: auto;
    padding: 10px;
}
.dailyValue p {
    color: var(--dark-two, black) !important;
    padding-top: 1px !important;
}
.dailyValue h2 {
    color: var(--dark-two, black) !important;
}

.ant-progress-circle-path {
    width: 100% !important;
    height: 1vh !important;
}

.ant-progress-text {
    font-size: 2vh !important;
    padding: 5px !important;
    width: fit-content !important;
    color: var(--dark-two, black) !important;
}
.dailyValue .ant-progress-text {
   display: none;
}
.ant-progress-line {
    height: 10px !important;
}
.ant-progress-outer {
    height: auto;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 10px 0px 0px !important;
}
.ant-layout-header {
    background-color: var(--dark-two, black) !important;
}
.ant-menu-item {
    background-color: var(--dark-two, black) !important;
}
.ant-menu-item:hover {
    text-decoration: underline;
}
.ant-table-cell {
    background-color: var(--dark-one, white) !important;
    color: var(--dark-two, black) !important;
}
.ant-layout-header {
    background-color: black!important;
}
.ant-layout-content {
    color: var(--dark-two, black) !important;
    background-color: var(--dark-one, white) !important;
}
.ant-menu-item {
    background-color:  black !important;
}
.ant-menu-item:hover {
    text-decoration: underline;
}
.ant-collapse-header {
    color: var(--dark-two, black) !important;
    background-color: var(--dark-one, white) !important;
}
.ant-collapse-content-box {

    color: var(--dark-two, black) !important;
    background-color: var(--dark-one, white) !important;
}
.ant-table-cell {
    color: var(--dark-two, black) !important;
    background-color: var(--dark-one, white) !important;
}
th.ant-table-cell {
    color: var(--dark-two, black) !important;
    background-color: var(--dark-one, white) !important;
}
.ant-card-body {
    background-color: var(--dark-one, white) !important;
}
.ant-card-body p {
    color: var(--dark-two, black) !important;
}
#rcDialogTitle3 {
    color:  var(--dark-two, black) !important;
}
.ant-modal-body h4 {
    color: var(--dark-two, black) !important;
}