.chatBotImg {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.chatArea {
    background-color: white;
    height: 19vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    margin-top: auto;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
}
.chatBotText{
    color: black;
    background-color: #43D0CA;
    border-radius: 5px;
    width: 100%;
}
.userText {
    color: black;
    background-color: #39ff5a;
    width: 100%;
    border-radius: 5px;
    margin-left: 3px;
}