.searchContainer {
    padding: 15px;
}

.searchContainer h4 {
    color: white;
}

.foodCard {
    height: fit-content;
}

.foodCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.foodImage {
    height: 1.875rem;
}

.foodCardIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.foodCardContainer {
    max-height: 300px;
    width: 15.625rem;
    overflow: auto;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.modalImage {
    height: 2.5rem;
}

.nutritionTable {
    height: 32.8125rem;
}

.foodSavedContainer {
    display: flex;
    background-color: rgba(0,0,0,0.3);
    min-width: 6.25rem;
    max-height: 28.4375rem;
    overflow: auto;
}

.foodSavedContainer h4 {
    color: white;
    margin-left: 15px;
    margin-top: 5px;
}

.savedCard {
   position: relative;
   left: 5px;
   height: 175px;
}

.dbSeeachContainer {
    display: flex;
}

.foodDbSearch {
  margin-left: 7px;
}

.foodDbCards {
    visibility: visible;
}
.foodDbCardsHidden {
    visibility: hidden;
}
.addFoodIcon {
    cursor: pointer;
}

.popOver {
    height: 40px;
    position: relative;
    top: -5px;
    right: -5px;
}
.popOverContent p:hover {
    cursor: pointer;
    color: #4285F4;
}

.switchVisible {
    position: relative;
    left: 140px;
}

