.searchContainer {
    padding: 15px;
}

.searchContainer h4 {
    color: white;
}

.foodCard {
    height: fit-content;
}

.dbSearchContainer {
    height: 43vh;
}

.foodCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.foodImage {
    height: 1.875rem;
}

.foodCardIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.foodCardContainer {
    max-height: 300px;
    width: 15.625rem;
    overflow: auto;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: white;
    border-radius: 5px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white; 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.modalImage {
    height: 2.5rem;
}

.nutritionTable {
    height: 32.8125rem;
}

.foodSavedContainer {
    display: flex;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: min-content;
    overflow: auto;
}

.foodSavedContainer h4 {
    color: white;
    margin-left: 15px;
    margin-top: 5px;
}

.savedCard {
   position: relative;
   left: 5px;
   height: 160px;
}


.foodDbSearch {
  margin-left: 7px;
}

.foodDbCards {
    visibility: visible;
}
.foodDbCardsHidden {
    visibility: hidden;
}
.addFoodIcon {
    cursor: pointer;
}

.popOver {
    height: 40px;
    position: relative;
    top: -5px;
    right: -5px;
}
.popOverContent p:hover {
    cursor: pointer;
    color: #4285F4;
}
.ant-popover-inner-content {
    background-color: var(--dark-one, white) !important;
    border: 1px solid white;
}
.ant-popover-inner-content p {
    color: var(--dark-two, black) !important;
}
.switchVisible {
    position: relative;
    left: 140px;
}

.ant-menu-item {
    color: white !important;
}
.ant-card-body {
    height: 100px !important;
    padding: 5px !important;
    line-height: 18px !important;
}
.ant-card-head {
    background-color: var(--dark-one, white ) !important;
}
.ant-card-head-title {
    color: var(--dark-two, black) !important;
}
.ant-modal-body {
    background-color: var(--dark-one, white ) !important;
    border: 2px solid white;
}
.ant-modal-header {
    background-color: var(--dark-one, white ) !important;
    border: 2px solid white;
}
.ant-modal-footer {
    background-color: var(--dark-one, white ) !important;
    border: 2px solid white;
}

