@import '~antd/dist/antd.css';
#root{
  opacity: 0;
}

@keyframes bgfade {
  0% { opacity: 0;}
  15% { opacity: .15;}
  25%{ opacity: .25;}
  33% { opacity: .33;}
  50% { opacity: .5;}
  63% {opacity: .63;}
  75% { opacity: .75;}
  83% { opacity: .83;}
  100% { opacity: 1;}
  }

body {
  width: fit-content;
  height: fit-content;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/My_Post_2_iceb2d.png);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  background-color: rgba(0,0,0,0.3);
  margin: auto;
  min-height: 43.75rem;
  width: auto;
}

.layoutFooter {
  background-color: white;
}
